/* Base Application Styles */
html,
body,
#slide-container,
#slide-controls {
  margin: 0;
  height: 100%;
  width: 100%;
}

#slide-container,
#slide-controls {
  position: absolute;
  border: none;
}

#play {
  display: none;
}
