.controls-component {
  margin: 0;
  height: 75px;
  width: 100%;
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center
}

.controls-button-container {
  margin: 5px;
  float: left;
}
