.iframe-component {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}

@keyframes crossfade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes crossfade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes move-in {
  0% { left: 100%; }
  100% { left: 0; }
}

@keyframes move-out {
  0% { left: 0; }
  100% { left: -100%; }
}
