.menu-flyout {
  margin: 0;
  top: 10px;
  top: -70px;
  width: 100%;
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

@keyframes menu-swift-drop {
  0% { top: -70px }
  100% { top: 10px; }
}

@keyframes menu-swift-lift {
  0% { top: 10px; }
  100% { top: -70px; }
}
