.slidelisteditor-component {
}

#slidelisteditor-fab-bar {
  position: absolute;
  top: 48px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#slidelisteditor-fab-bar .fab {
  float: left;
  margin-left: 10px;
}

.slidelisteditor-slide-menu {
  position: absolute;
  right: 10px;
}

.slidelisteditor-slide-menu-action {
  margin-left: 8px;
  margin-right: 8px;
}

.slidelisteditor-slide-menu-action:hover{
  color: black !important;
}
